extends main
include mixins/postCard

block links
  link(rel="stylesheet", href="/stylesheets/index.css")
  meta(property="og:title" content="Sam's Closet")
  meta(property="og:description" content="Sam Randa's fashion database.")
  meta(property="og:type" content="website")
  meta(property="og:url" content="https://closet.samranda.com/")
  meta(property="og:image" content="https://closet.samranda.com/assets/preview-image.png")
  meta(property="og:image:alt" content="A banner containing Sam's Closet")

block content
  #main
    #posts
      each post in posts
        +postCard(post)