extends main

block links
  link(rel="stylesheet", href="/stylesheets/remove.css")
  meta(property="og:title" content="Sam's Closet - Remove")
  meta(property="og:description" content="Remove the latest Sam's Closet post.")
  meta(property="og:type" content="website")
  meta(property="og:url" content="https://closet.samranda.com/remove")
  meta(property="og:image" content="https://closet.samranda.com/assets/preview-image.png")
  meta(property="og:image:alt" content="A banner containing Sam's Closet")

block content
  #main
    form#remove(action="/remove" enctype="multipart/form-data" method="post")
      div
        label(for="password") password:
        input#password(type="password" placeholder="password" name="password" required)
      input(type="submit" value="remove latest")